<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <section>
        <h1>Signup</h1>
        <form action="/signup" method="POST">
          <% if(hasError=true) {%>
          <p id="input-error"><%= inputData.message %></p>
          <% } %>
          <div class="form-control">
            <label for="email">Your Email</label>
            <input
              type="email"
              id="email"
              name="email"
              value="<%= inputData.email %>"
              required
            />
          </div>

          <div class="form-control">
            <label for="confirmemail">Confirm Email</label>
            <input
              type="email"
              id="confirmemail"
              name="confirmemail"
              value="<%= inputData.confirmEmail %>"
              required
            />
          </div>

          <div class="form-control">
            <label for="password">Your Password</label>
            <input
              type="password"
              id="password"
              name="password"
              value="<%= inputData.password %>"
              required
            />
          </div>

          <button class="btn">signup</button>
        </form>
        <p>If you Have an account <a class="btn-alt" href="/login">Login</a></p>
      </section>
    </main>
  </body>
</html>
